.content-header{
    padding:50px;
    /*background-color: #9fcffb;*/
    background-color: #9fcffb;
    color: white;
}
.middle-content{
    padding: 10px;
    /*background-color: #cccccc;*/
    background-color: whitesmoke;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-wrapper{
    padding-bottom: 10px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.wrapper{
    border-radius: 0.3rem;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top: 3px solid #3c8dbc;
}
.table-wrapper{
    padding: 1.25rem;
}
.box-tools{
    position: absolute;
    /*position: static;*/
    right: 20px;
    top: 15px;
    padding: 10px;
}
.content{
    background-color: #fff;
    padding-top: 2.7rem;
    min-height: 50rem;
}
.table_header{
    padding: 10px;
    border-bottom: 2px solid black ;
    position: relative;
}
.navbar{
    margin: 0;
    /*background-color: #71c7ec;*/
    /*background-color: antiquewhite;*/
    /*background-color: ghostwhite;*/
    border-radius: 0;
    /*border-bottom: 2px solid #ccc;*/
}
/*.navbar >> a{*/
/*color: white;*/
/*}*/
a {
    color: #71c7ec;
    font-size: 16px;
}
.navbar-brand {
    font-size: 20px;
}
.btn{
    /*background-color: #71c7ec;*/
    color: white;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}